<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.apartmentcitizen">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_apartment_login"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".home.transaction.receipt.receiptdetail.ReceiptDetailActivity"></activity>
        <activity android:name=".home.dashboard.newsfeed.CommmentActivity" />
        <activity android:name=".home.transaction.receipt.HistoryReceiptActivity" /> <!-- <activity android:name=".information.InformationActivity"></activity> -->
        <service
            android:name=".service.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity android:name=".home.dashboard.newsfeed.NewsfeedActivity" />
        <activity android:name=".home.account.familymember.FamilyInformationActivity" />
        <activity android:name=".home.account.information.InformationActivity" />
        <activity android:name=".home.account.wallet.WalletActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_apartment_login" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>